body {
  background: #39D;
}


.circular-menu {
  position: absolute;
  z-index: 9999;
  display: none;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle a {
  text-decoration: none;
  color: white;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  font-size: 60%;

}

.circle a:hover {
  color: red;
}


.inventory-row
{
    display: flex;
	flex-direction: row;
	justify-content: flex-start; /* align items in Main Axis */
	align-items: flex-start; /* align items in Cross Axis */
	align-content: flex-start; /* Extra space in Cross Axis */
}

.inventory-cell
{
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    align-content: center; /* Extra space in Cross Axis */

    background-image: url('icons/itemslot.png');
}

/* ITEMS */

.inventory-item
{
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;

    cursor: hand;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

/* bottom interface bar*/
.navbar{
    height: 2em;
    width: 100%;
    background: blue;
    color: white;
    position: fixed;
    top: 100%;
    margin-top: -2em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

.header {
  height: 1em;
  background: red;
}

.slot {
  height: 100px;
  float: left;
}

.port {
  background: green;
  height: 100px;
  width: 70%;
  float: left;
}

.stats {
  background: orange;
  height: 100px;
  width: 30%;
  float: left;
}

.statbar {
  background: blue;
  height: 100px;
  width: 28%;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.cval {
  background: red;
  width: 100%;
  float: left;
}

.aps {
  background: magenta;
  height: 20%;
  width: 100%;
  float: left;
}

.portimage {
  background: yellow;
  height: 80%;
  width: 100%;
  float: left;
}

.statinfo {
  margin: 0px;
  font-size: 100%;
}

.inventory_column {
  float: left;
  width: 15%;
}

.inv-popover {
  float: left;
  position: absolute;
  display: none;
  background-color: cyan;
  top: 70px;
}

.popover-body {
  overflow: auto;
  font-size: 60%;
}